.top-bar {
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--top-bar-height);
  background-color: var(--top-bar-bg);
  backdrop-filter: saturate(50%) blur(9px);

  .content {
    padding: 0 20px;
    height: 100%;
    @include default-flex;
    justify-content: space-between;

    & > * {
      flex: 1;
    }
  }
}

.brand {
  @include default-flex;
  align-items: center;
  gap: 10px;
  span {
    font-size: 1.4em;
  }
}

.top-bar-nav {
  @include default-flex;
}

.nav-items {
  @include default-flex;
  justify-content: flex-end;
  width: calc(100% - 2 * var(--default-padding));
  gap: 25px;

  li {
    a {
      text-decoration: none;
      color: var(--secondary-text-color);
      transition: color ease-in-out 200ms;

      &:hover {
        color: var(--primary-text-color);
      }
    }
  }
}

.active-nav-item {
  color: var(--primary-text-color) !important;
  text-decoration: underline !important;
}